services:
  uchat_db:
    image: postgres:16.1
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - uchat_data:/var/lib/postgresql/data

volumes:
  uchat_data: